/* CSS commun aux pages */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/*** HEADER ***/

header {
  background-color: #FFF;
}

/* Logo */

#logo {
  display: inline-block;
}
#logo a {
  padding: 0px;
  margin-top: 10px;
}
#logo img {
  height: 70px;
}

/* NavBar */

#navContainer {
  float: right;
}
#navContainer nav {
  margin-top: 12px;
  margin-bottom: 0px;
}
header a {
  color: #000;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
header a:hover {
  text-decoration: none;
  color: #000;
}
#smallMenu i {
  padding-right: 20px;
  font-size: 30px;
  color: #FFF;
}

/* Animation des liens de la navBar */

header nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #4e1e87;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
header nav a:hover:after {
  width: 100%;
  left: 0;
}
@-webkit-keyframes glow {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0.3;
    filter: alpha(opacity=30);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@keyframes glow {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0.3;
    filter: alpha(opacity=30);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

/*** FOOTER ***/

footer {
  background-color: #e4e4e4;
  padding: 30px 0px 20px 0px;
}
#footerLogo img {
  height: 120px;
}
footer span {
  color: #999999;
}
footer a {
  color: #000;
}
#footerMenu {
  margin-bottom: 5%;
}
